
---
import "../styles/global.css";
const { title = "Sergej Wajciuk — Whitehat Lead Gen (PL/EU)", description = "Whitehat lead gen: Google Search, YouTube, TikTok, Push/Native. Pre‑landingi i analityka.", url = "https://www.wajciukmedia.pl" } = Astro.props;
---
<html lang="pl">
<head>
<meta name="verify-admitad" content="912b1a6944" />
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TC968ZQZ');</script>
<!-- End Google Tag Manager -->
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  

  <script is:inline data-noptimize="1" data-cfasync="false" data-wpfc-render="false">
    (function () {
      var script = document.createElement("script");
      script.async = 1;
      script.src = 'https://emrldco.com/NDYyNTAy.js?t=462502';
      document.head.appendChild(script);
    })();
  </script>
</head>
  <body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC968ZQZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
